<div class="break"></div>
  
  <div class="container overflow-hidden mb-5"> 
    <div class="row justify-content-center mb-5">
      <div class="col-auto">
        <div class="card mt-5 ms-4  w-20" style="box-shadow: 0px 4px 5px rgb(165, 165, 165); width: 18rem; border-radius: 25px; background-color: #F8C922">
          <img class="card-img-top" src="/images/products/{{this.product.imageFilename}}" alt="Card image cap" style="height: 11.5rem; border-radius: 25px;">
          <div class="card-body">
            <div>
              <h5 class="card-title fw-bold mb-5 ms-2" id="productName">{{this.product.name}}</h5>     

              <div style="display: flex; align-items: center; justify-content: space-between;">
                  <h5 class="mb-3 ms-2 fw-bold" style="font-size: x-large;" id="price">₱{{this.product.price}}</h5>
                  <div style="display: flex; align-items: center;">
                      <button class="btn btn-dark rounded-circle ms-2 me-1" id="subtractbtn"></button>
                      <h5 class="mb-3 fw-bold mx-2" id="quantity" style="min-width: 30px; text-align: center;">1</h5>
                      <button class="btn btn-dark rounded-circle ms-1 me-2" id="addbtn"></button>
                  </div>
              </div>
   
            </div>
            <div class="text-center">
              <a  class="btn btn-danger mt-1 mb-2 fw-bold text-center rounded-pill" id="addtobag" data-id="{{this.product.productId}}">Add to Bag</a>
            </div>
            <div class="text-center">
              <a href="/menu" class="btn btn-outline-light mt-1 mb-2 fw-bold text-center rounded-pill" id="backtomenu">Back to Menu</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <p id="error">{{error_msg}}</p>