<div class="parent-container">
    <div class="child category-container">
        <div class="title-container">
            <div class="header">WELCOME, ADMIN!</div>
            <button class="viewProductsBtn" onclick="window.location.href='/viewproductspage'">View Products</button>
            <button class="addProductBtn" onclick="window.location.href='/addproductpage'">Add Product</button>
            <div class="subheader">Here is the list of The Hungry Sibs products:</div>
        </div>
        <table class= "userTable">
            <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Price</th>
                <th>Image</th>
                <th>Edit</th>
                <th>Bestseller</th>
                <th>Archive</th>
            </tr>
            {{#each products}}
                <tr class="{{#if this.isArchived}}archived{{/if}}">
                    <td class="{{#if this.isBestseller}}bestseller{{/if}}">{{this.name}}</td>
                    <td class="{{#if this.isBestseller}}bestseller{{/if}}">{{this.category}}</td>
                    <td class="{{#if this.isBestseller}}bestseller{{/if}}">&#8369;{{this.price}}</td>
                    <td><img src="{{this.imageFilename}}" alt="{{this.name}}" style="width: 100px; height: auto;"></td>
                    <td class="productBtnCell" ><button class="editBtn" onclick="editProduct('{{this.id}}')">Edit</button></td>

                    {{#if this.isBestseller}}
                        <td class="productBtnCell" ><button class="unarchiveBtn" onclick="unarchiveProduct('{{this.id}}')">Remove from Bestsellers</button></td>
                    {{else}}
                        <td class="productBtnCell" ><button class="archiveBtn" onclick="archiveProduct('{{this.id}}')">Add to Bestsellers</button></td>
                    {{/if}}


                    {{#if this.isArchived}}
                        <td class="productBtnCell" ><button class="unarchiveBtn" onclick="unarchiveProduct('{{this.id}}')">Unarchive</button></td>
                    {{else}}
                        <td class="productBtnCell" ><button class="archiveBtn" onclick="archiveProduct('{{this.id}}')">Archive</button></td>
                    {{/if}}

                   
                </tr>
            {{/each}}
        </table>
        

    </div>
</div>