<div class="parent-container parent-container-orders">
    <div class="child category-container category-container-orders">
        <div class="title-container">
            <div class="header">WELCOME, ADMIN!</div>
            <div class="subheader">Here is the list of The Hungry Sibs orders:</div>
        </div>
        <table class= "productTable ordersTable">
            <tr>
                <th class="orderIdHeader">Order ID</th>
                <th class="orderItemsHeader">Order Items</th>
                <th class="orderTotalHeader">Total</th>
                <th class="notesHeader">Notes</th>
                <th class="dateOrderedHeader">Date Ordered</th>
                <th class="addressHeader">Delivery Address</th>
                <th class="phoneNumberHeader">Phone Number</th>
            </tr>

            {{#each orders}}
                <tr>
                    <td class="productInfo orderId">{{this.orderId}}</td>
                    <td class="productInfo">
                        <table class="nestedTable">
                            <thead>
                                <tr>
                                    <th class="productNameHeader">Product Name</th>
                                    <th class="quantityHeader">Quantity</th>
                                    <th class="unitPriceHeader">Unit Price</th>
                                    <th class="orderItemTotalHeader">Order Item Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each this.orderItems}}
                                    <tr>
                                        <td>{{this.productName}}</td>
                                        <td>{{this.quantity}}</td>
                                        <td class="unitPrice">&#8369; {{this.productPrice}}</td>
                                        <td>&#8369; {{this.orderItemTotal}}</td>
                                    </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </td>
                    <td class="productInfo orderTotal">&#8369; {{this.orderTotal}}</td>
                    <td class="productInfo notes">{{this.notes}}</td>
                    <td class="productInfo dateOrdered">{{this.dateOrdered}}</td>
                    <td class="productInfo address">{{this.address}}</td>
                    <td class="productInfo phoneNumber">{{this.phoneNumber}}</td>
                </tr>
            {{/each}}
        </table>
    </div>
</div>