<div class="parent-container">
    <div class="child category-container">
        <div class="title-container">
            <div class="header">WELCOME, ADMIN!</div>
            <div class="subheader">Here is the list of The Hungry Sibs users:</div>
        </div>

        <table class= "userTable">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Date Registered</th>
                <th>Date Edited</th>
                <th>Date Archived</th>
            </tr>
            {{#each users}}
                <tr>
                    <td>{{this.firstName}}</td>
                    <td>{{this.lastName}}</td>
                    <td>{{this.email}}</td>
                    <td>{{this.phoneNumber}}</td>
                    <td>{{this.dateCreated}}</td>

                    <td>
                        {{#if this.dateEdited}}
                            {{this.dateEdited}}
                        {{else}}
                            —
                        {{/if}}
                    </td>

                    <td>
                        {{#if this.dateArchived}}
                            {{this.dateArchived}}
                        {{else}}
                            —
                        {{/if}}
                    </td>
                </tr>
            {{/each}}
        </table>
    </div>
</div>