<div class="parent-container">
    <div class="child category-container">
        <div class="title-container">
            <div class="header">WELCOME, ADMIN!</div>
            <button class="viewProductsBtn productBtn" onclick="window.location.href='/viewProductsPage'">View Products</button>
            <button class="addProductBtn productBtn" onclick="window.location.href='/addProductPage'">Add Product</button>
            <div class="subheader">Here is the list of The Hungry Sibs products:</div>
            <div class="subheader" style="color: #c93020;">NOTE: Bestsellers are indicated in red</div>
        </div>
        <table class= "productTable">
            <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Price</th>
                <th>Image</th>
                <th>Edit</th>
                <th>Bestseller</th>
                <th>Archive</th>
            </tr>
            {{#each products}}
                <tr class="{{#if this.isArchived}}archived{{/if}}">
                    <td class="{{#if this.isBestseller}}bestseller{{/if}} productInfo">{{this.name}}</td>
                    <td class="{{#if this.isBestseller}}bestseller{{/if}} productInfo">{{this.category}}</td>
                    <td class="{{#if this.isBestseller}}bestseller{{/if}} productInfo">&#8369;{{this.price}}</td>
                    <td><img src="/images/products/{{this.imageFilename}}" alt="{{this.name}}" style="width: 100px; height: auto;"></td>
                    
                    <td class="productBtnCell">
                        {{#if this.isArchived}}
                            <button class="productBtn editBtn" data-id="{{this.productId}}" disabled>Edit</button>
                        {{else}}
                            <button class="productBtn editBtn" data-id="{{this.productId}}">Edit</button>
                        {{/if}}
                    </td>

                    {{#if this.isBestseller}}
                        <td class="productBtnCell">
                            {{#if this.isArchived}}
                                <button class="productBtn removeBestsellerBtn" data-id="{{this.productId}}" disabled>Remove from Bestsellers</button>
                            {{else}}
                                <button class="productBtn removeBestsellerBtn" data-id="{{this.productId}}">Remove from Bestsellers</button>
                            {{/if}}
                        </td>
                    {{else}}
                        <td class="productBtnCell">
                            {{#if this.isArchived}}
                                <button class="productBtn addBestsellerBtn" data-id="{{this.productId}}" disabled>Add to Bestsellers</button>
                            {{else}}
                                <button class="productBtn addBestsellerBtn" data-id="{{this.productId}}">Add to Bestsellers</button>
                            {{/if}}
                        </td>
                    {{/if}}


                    {{#if this.isArchived}}
                        <td class="productBtnCell" ><button class="productBtn unarchiveBtn"  data-id={{this.productId}}>Unarchive</button></td>
                    {{else}}
                        <td class="productBtnCell" ><button class="productBtn archiveBtn" data-id={{this.productId}}>Archive</button></td>
                    {{/if}}

                   
                </tr>
            {{/each}}
        </table>
        

    </div>
</div>